.Delivery__select {
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 5px;
    width: 215px;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.Delivery__title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #474747;
    margin-bottom: 7px;
}

option::placeholder{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #474747;
}

select {
	appearance: none;
	background-image: url('../../assets/svg/dropdown-arrow.svg');
	background-position: 96% center;
	background-repeat: no-repeat;
}